<tr>
  <td data-label="Status" class="mdl-data-table__cell--non-numeric"><a class="<%="#{consultant.status_class}"%>"><%= consultant.status %></a></td>
  <td><%= consultant.full_name %></td>
  <td><%= consultant.tasks_count %></td>
  <td><%= consultant.tasks_done_count %></td>
</tr>
