<tr>
  <td data-label="Status" class="mdl-data-table__cell--non-numeric"><a class="ui label high-priority-issue"><%= project.issue_type%></a></td>
  <td><%= project.name %></td>
  <td><%= project.client ? project.client.name : "-" %> </td>
  <td><%= project.tasks.size == 0 ? "-" : "#{project.completion_percentage.to_i}%" %></td>
  <td><%= link_to 'details', project_path(project) %></td>
</tr>
