<% content_for :title, "Dashboard" %>
<div id="overview-projects" class="box">
  <div class="information">
    <div class="box-title">
      <h2> Projects overview </h2>
      <div><%= nil %></div>
    </div>
    <div class="wrapper-cards">
      <%= render partial: 'card', locals: {number: @projects.count, unit: "Active Projects"} %>
      <%= render partial: 'card', locals: {number: @project_with_issues, unit: "Projects with issues"} %>
      <%= render partial: 'card', locals: {number: @total_undone_tasks, unit: "Unfinished tasks"} %>
      <%= render partial: 'card', locals: {number: @overdue_projects_count, unit: "Overdue Projects"} %>
    </div>
  </div>
  <div class="content">
    <div id="new-project-table" class="project-table">
    <div id="project-dashboard-list">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric"><span class="sort" data-sort="project-status">Status</span></th>
            <th><span class="sort" data-sort="project-name">Name</span></th>
            <th><span class="sort" data-sort="project-client">Client</span></th>
            <th><span class="sort" data-sort="project-progress">Progress</span></th>
            <th>Links</th>
          </tr>
        </thead>
        <tbody class="list">
          <% @projects.each do |project| %>
          <%= render partial: 'project', locals: { project: project} %>
          <% end %>
        </tbody>
      </table>
      <ul class="pagination"></ul>
      </div>
    </div>
  </div>
</div>

<div id="overview-consultants" class="box">
  <div class="information">
    <div class="box-title">
      <h2> Consultants overview </h2>
    </div>
    <div class="wrapper-cards">
      <%= render partial: 'card', locals: {number: @consultants.count, unit: "Total consultants"} %>
      <%= render partial: 'card', locals: {number: @consultants_with_tasks, unit: "Occupied consultants"} %>
      <%= render partial: 'card', locals: {number: @average_tasks, unit: "Average tasks per consultant"} %>
    </div>
  </div>
  <div class="content">
    <div id="new-project-table" class="project-table">
    <div id="consultant-dashboard-list">
     <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><span class="sort" data-sort="consultant-status">Status</span></th>
          <th><span class="sort" data-sort="consultant-name">Name</span></th>
          <th><span class="sort" data-sort="consultant-total-tasks">Total tasks</span></th>
          <th><span class="sort" data-sort="consultant-tasks-done">Tasks done</span></th>
        </tr>
      </thead>
      <tbody class="list">
        <% @consultants.each do |consultant| %>
        <%= render partial: 'consultant', locals: { consultant: consultant} %>
        <% end %>
      </tbody>
    </table>
    <ul class="pagination"></ul>
  </div>
  </div>
</div>
</div>



<%= content_for(:after_js) do %>
  <!-- list.js -->
   <script>
      var options = {
        valueNames: [ 'project-status', 'project-name', 'project-client', 'project-progress'],
        page: 10,
        plugins: [
          ListPagination({})
        ]
      };

      var projectDashboardList = new List('project-dashboard-list', options);
    </script>

    <script>
      var options = {
        valueNames: [ 'consultant-status', 'consultant-name', 'consultant-total-tasks', 'consultant-tasks-done'],
        page: 10,
        plugins: [
          ListPagination({})
        ]
      };

      var projectList = new List('consultant-dashboard-list', options);
    </script>

<% end %>

