<% content_for :title, "Dashboard" %>
<div id="overview-projects" class="ui container">
  <div class="information">
  <div class="ui equal width grid dashboard-stats"">
    <div class="column active-projects mdl-shadow--2dp">
    <div class="active-items">
      <div class="icon"><i class="material-icons">timeline</i></div>
      <h3 class="stat numbers">
        <%= @projects.count %>
        <div class="numbers-title">Active Projects</div>
      </h3>
    </div>
    </div>
    <div class="column project-with-issues mdl-shadow--2dp">
      <div class="active-items">
      <div class="icon"><i class="material-icons">error_outline</i></div>
      <h3 class="stat numbers">
        <%= @project_with_issues %>
        <div class="numbers-title">Projects with Issues</div>
      </h3>
    </div>
    </div>
    <div class="column unfinished-tasks mdl-shadow--2dp">
      <div class="active-items">
      <div class="icon"><i class="material-icons">list</i></div>
      <h3 class="stat numbers">
        <%= @total_undone_tasks %>
        <div class="numbers-title">Unfinished Tasks</div>
      </h3>
    </div>
    </div>
    <div class="column overdue-projects mdl-shadow--2dp">
      <div class="active-items">
      <div class="icon"><i class="material-icons">alarm</i></div>
      <h3 class="stat numbers">
        <%= @overdue_projects_count %>
        <div class="numbers-title">Overdue Projects</div>
      </h3>
    </div>
    </div>
  </div>



  </div>
  <div class="content">
    <div id="new-project-table" class="project-table">
    <div id="project-dashboard-list">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric"><span class="sort" data-sort="project-status">Status</span></th>
            <th><span class="sort" data-sort="project-name">Name</span></th>
            <th><span class="sort" data-sort="project-client">Client</span></th>
            <th><span class="sort" data-sort="project-progress">Progress</span></th>
          </tr>
        </thead>
        <tbody class="list">
          <% @projects.each do |project| %>
          <%= render partial: 'project', locals: { project: project} %>
          <% end %>
        </tbody>
      </table>
      <ul class="pagination"></ul>
      </div>
    </div>
  </div>
</div>

<div id="overview-consultants" class="ui container">
  <div class="information">
    <div class="information">
  <div class="ui equal width grid dashboard-stats"">
    <div class="column project-with-issues mdl-shadow--2dp">
      <div class="active-items">
      <div class="icon"><i class="material-icons">people</i></div>
      <h3 class="stat numbers">
        <%= @consultants.count %>
        <div class="numbers-title">Total Consultants</div>
      </h3>
    </div>
    </div>
    <div class="column unfinished-tasks mdl-shadow--2dp">
      <div class="active-items">
      <div class="icon"><i class="material-icons">work</i></div>
      <h3 class="stat numbers">
        <%= @consultants_with_tasks %>
        <div class="numbers-title">Occupied Consultants</div>
      </h3>
    </div>
    </div>
    <div class="column active-projects mdl-shadow--2dp">
      <div class="active-items">
      <div class="icon"><i class="material-icons">check_circle</i></div>
      <h3 class="stat numbers">
        <%= @average_tasks %>
        <div class="numbers-title">Average Tasks per Consultant</div>
      </h3>
    </div>
    </div>

    </div>
  </div>
  <div class="content">
    <div id="new-project-table" class="project-table">
    <div id="consultant-dashboard-list">
     <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><span class="sort" data-sort="consultant-status">Status</span></th>
          <th><span class="sort" data-sort="consultant-name">Name</span></th>
          <th><span class="sort" data-sort="consultant-total-tasks">Total tasks</span></th>
          <th><span class="sort" data-sort="consultant-tasks-done">Tasks done</span></th>
        </tr>
      </thead>
      <tbody class="list">
        <% @consultants.each do |consultant| %>
        <%= render partial: 'consultant', locals: { consultant: consultant} %>
        <% end %>
      </tbody>
    </table>
    <ul class="pagination"></ul>
  </div>
  </div>
</div>
</div>



<%= content_for(:after_js) do %>
  <!-- list.js -->
   <script>
      var options = {
        valueNames: [ 'project-status', 'project-name', 'project-client', 'project-progress'],
        page: 10,
        plugins: [
          ListPagination({})
        ]
      };

      var projectDashboardList = new List('project-dashboard-list', options);
    </script>

    <script>
      var options = {
        valueNames: [ 'consultant-status', 'consultant-name', 'consultant-total-tasks', 'consultant-tasks-done'],
        page: 10,
        plugins: [
          ListPagination({})
        ]
      };

      var projectList = new List('consultant-dashboard-list', options);
    </script>

<% end %>

