<div id="overview-projects" class="box">
<div class="information">
  <p>Number of projects currently going on: <%= @projects.count %> </p>
  <p>Number of projects with issues: <%= @project_with_issues %> </p>
</div>
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      What are the projects?
    </div>
    <div class="content">
      <div id="new-project-table" class="transition hidden">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Status</th>
              <th>Name</th>
              <th>Client</th>
              <th>Budgeted Days</th>
              <th>Progress</th>
              <th>Project Lead</th>
              <th>Links</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
            <%= render partial: '../views/projects/project', locals: { project: project} %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="overview-projects" class="box">
<div class="information">
  <p>Number of consultants: <%= @consultants.count %></p>
  <p>Number of consultants with tasks: <%= @consultants_with_tasks %> </p>
</div>
  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      What are the projects?
    </div>
    <div class="content">
      <div id="new-project-table" class="transition hidden">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Status</th>
              <th>Name</th>
              <th>Client</th>
              <th>Budgeted Days</th>
              <th>Progress</th>
              <th>Project Lead</th>
              <th>Links</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
            <%= render partial: '../views/projects/project', locals: { project: project} %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  $('.ui.accordion')
  .accordion()
  ;
</script>
<% end %>






