<% content_for :title, "List of Consultants" %>
<main class="mdl-layout__content">
  <div class="page-content my-projects">



  <BR>
  <div class="right-aligned new-user-button">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored create-user">
      New consultant
    </button>
  </div>
  <BR>
    <div id="new-user-table">
    <div id="consultant-list">
      <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th><span class="sort" data-sort="consultant-first_name">First Name</span></th>
            <th><span class="sort" data-sort="consultant-last_name">Last Name</span></th>
            <th><span class="sort" data-sort="consultant-job_title">Job Title</span></th>
            <th><span class="sort" data-sort="consultant-email">Email</span></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="list">
          <% @users.each do |user| %>
          <tr>
            <td class="consultant-first_name"><%= user.first_name %></td>
            <td class="consultant-last_name"><%= user.last_name %></td>
            <td class="consultant-job_title"><%= user.job_title %></td>
            <td class="consultant-email"><%= user.email %></td>
            <td><%= link_to "Edit", edit_user_path(user), remote: true %> - <%= link_to "Delete", user_path(user), method: :delete %> - <%= link_to "Details", user_path(user.id) %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <ul class="pagination"></ul>
      </div>
    </div>
  </div>
</main>
<div class="ui long modal edit-modal">
  <div class="header">Edit Consultant</div>
        <div class="content">
        </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <!-- list.js -->
   <script>
      var options = {
        valueNames: [ 'consultant-first_name', 'consultant-last_name', 'consultant-job_title', 'consultant-email'],
        page: 10,
        plugins: [
          ListPagination({})
        ]
      };

      var clientList = new List('consultant-list', options);
    </script>
<% end %>
