<main class="mdl-layout__content">
  <div class="page-content my-projects">



  <BR>
  <div class="right-aligned new-user-button">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored create-user">
      New consultant
    </button>
  </div>
  <BR>
    <div id="new-user-table">
      <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Job Title</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.job_title %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Edit", edit_user_path(user), remote: true %> - <%= link_to "Delete", user_path(user), method: :delete %> - <%= link_to "Details", user_path(user.id) %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
<div class="ui long modal edit-modal">
  <div class="header">Edit Consultant</div>
        <div class="content">
        </div>
  </div>
</div>






<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
