<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <!-- Title -->
      <%= link_to content_tag(:span, 'Simplify'), root_url, class: "mdl-layout-title", id: 'nav-title' %>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <div class="ui search">
        <div class="ui icon input">
        <input class="prompt" id="demo-search" type="text" placeholder="Search for projects or people">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>


      <nav class="mdl-navigation mdl-layout--large-screen-only">


        <%= link_to projects_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">list</i>
        <span>Projects</span>
        <% end %>
        <%= link_to user_tasks_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">check_box</i>
        <span>Tasks</span>
        <% end %>
        <%= link_to clients_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">business</i>
        <span>Clients</span>
        <% end %>
        <%= link_to users_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">people</i>
        <span>Consultants</span>
        <% end %>
        <%= link_to overview_dashboard_index_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">timeline</i>
        <span>Dashboard</span>
        <% end %>

        <% if current_user.nil? %>
        <%= link_to new_user_session_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">input</i>
        <span>Log in</span>
        <% end %>
        <% end %>
<!--
  <a class="mdl-navigation__link" href="" class="little-transparent"><i class="material-icons">list</i> Projects</a> -->
<!--         <a class="mdl-navigation__link" href="" class="little-transparent"><i class="material-icons">check_box</i> Tasks</a>
        <a class="mdl-navigation__link" href="" class="little-transparent"><i class="material-icons">business</i> Clients</a>
        <a class="mdl-navigation__link" href="" class="little-transparent"><i class="material-icons">people</i> Consultants</a>
        <a class="mdl-navigation__link" href="" class="little-transparent"><i class="material-icons">timeline</i> Dashboard</a> -->
        <% if current_user %>
<!--         <a class="ui circular label">22</a> -->

        <!-- Right aligned menu below button -->





        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="user-menu">
          <%= link_to edit_user_registration_path do %><li class="mdl-menu__item">Edit my profile</li><% end %>
          <%= link_to settings_user_management_path do %><li class="mdl-menu__item">Settings</li><% end %>
          <li disabled class="mdl-menu__item">Edit dashboard</li>
          <%= link_to destroy_user_session_path, method: :delete do %><li class="mdl-menu__item">Log out</li><% end %>
        </ul>
        <div class="ui item right profile">
          <div class="ui header" id="user-menu">

            <%= cl_image_tag current_user.avatar_id, attachinary_presets %>

            <div class="content" style="color:rgba(255, 255, 255, 0.7)">
              <div class="ui sub header">
                <h4 class="ui header" style="color:rgba(255, 255, 255, 0.7)">
                  <%= current_user.first_name if current_user %>
                  <%= current_user.last_name if current_user %>
                  <div class="sub header" style="color:rgba(255, 255, 255, 0.7)">
                    <%= current_user.job_title if current_user %>
                  </div>
                </h4>
              </div>
            </div>
          </div>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">

        <%= link_to projects_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">list</i>
        <span>Projects</span>
        <% end %>
        <%= link_to user_tasks_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">check_box</i>
        <span>Tasks</span>
        <% end %>
        <%= link_to clients_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">business</i>
        <span>Clients</span>
        <% end %>
        <%= link_to users_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="material-icons">people</i>
        <span>Consultants</span>
        <% end %>
        <%= link_to overview_dashboard_index_path, class: "mdl-navigation__link little-transparent" do %>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <span>Dashboard</span>
        <% end %>
      </nav>
    </div>



    <%= render "shared/algolia_scripts" %>
