<main class="mdl-layout__content">
          <div class="page-content my-projects">

            <BR>

            <div class="right-aligned new-client-button">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored create-client">
                New Client
              </button>
            </div>
            <BR>
            <div id="new-client-table">
              <div id="client-list">
              <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
                <thead>
                  <tr>
                    <th><span class="sort" data-sort="client-name">Name</span></th>
                    <th><span class="sort" data-sort="client-email">EMail</span></th>
                    <th><span class="sort" data-sort="client-phone">Phone</span></th>
                    <th><span class="sort" data-sort="client-website">Website</span></th>
                    <th><span class="sort" data-sort="client-address">Address</span></th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="list">
                <% @clients.each do |client| %>
                  <tr>
                    <td class="client-name"><%= client.name %></td>
                    <td class="client-email"><%= client.email %></td>
                    <td class="client-phone"><%= client.phone %></td>
                    <td class="client-website"><a href = "<%= client.website %>" target="_blank"><%= client.website %></a></td>
                    <td class="client-address"><%= client.address %></td>
                    <td><%= link_to "Edit", edit_client_path(client), remote:true %> - <%= link_to "Delete", client_url(client), method: :delete, data: { confirm: "Are you sure?" } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <ul class="pagination"></ul>
            </div>
            </div>
          </div>

      </main>

      <%= render 'form' %>

      <div class="ui long modal edit-modal">
  <div class="header">Edit Consultant</div>
        <div class="content">
        </div>
  </div>
</div>
<th><span class="sort" data-sort="client-name">Name</span></th>
                    <th><span class="sort" data-sort="client-email">EMail</span></th>
                    <th><span class="sort" data-sort="client-phone">Phone</span></th>
                    <th><span class="sort" data-sort="client-website">Website</span></th>
                    <th><span class="sort" data-sort="client-address">Address</span></th>
<%= content_for(:after_js) do %>
  <!-- list.js -->
   <script>
      var options = {
        valueNames: [ 'client-name', 'client-email', 'client-phone', 'client-website', 'client-address'],
        page: 10,
        plugins: [
          ListPagination({})
        ]
      };

      var clientList = new List('client-list', options);
    </script>
<% end %>

<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>

