
<!-- Modal -->
<div class="ui long modal create-project-modal">
  <div class="header">Add a new project</div>
  <div class="content">
    <%= simple_form_for(@project) do |f| %>
    <%= f.input :name %>
    <%= render partial: 'shared/single_select_search_dropdown', locals: {field_name: :client_id, collection_name: @clients, f: f, attribute_name: :name, prompt_message: 'Select Client'} %>
    <%= f.input :description, input_html: { rows: 2 }%>
    <%= f.input :man_days %>
    <%= render partial: 'shared/single_select_search_dropdown', locals: {field_name: :project_manager_id, collection_name: @users, f: f, attribute_name: :full_name, prompt_message: 'Select Consultant'} %>

      <%= f.fields_for(:assignments) do |assignment_f| %>
       <%= render partial: 'shared/multiple_select_search_dropdown', locals: {field_name: :user_ids, field_title: 'Consultants', collection_name: @users, f: f, attribute_name: :full_name, prompt_message: 'Select Consultants'} %>
      <% end %>
    <%= f.attachinary_file_field :deliverables, as: :attachinary, cloudinary: {use_filename: true, unique_filename: false }, label: 'Project files' %>
    <%= f.attachinary_file_field :project_files, as: :attachinary, cloudinary: {use_filename: true, unique_filename: false }, label: 'Deliverables' %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
</div>





<!-- Modal -->
<script type="text/javascript">
  $(document)
  .ready(function() {

    $('.project-manager-popup-trigger')
    .popup()
    ;
  });

  $( ".create-project" ).click(function() {
    $('.create-project-modal')
    .modal('show')
    ;
  });

// For responsive table (get table headers)

var headertext = [];
var headers = document.querySelectorAll("thead");
var tablebody = document.querySelectorAll("tbody");

for (var i = 0; i < headers.length; i++) {
  headertext[i]=[];
  for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) {
    var current = headrow;
    headertext[i].push(current.textContent);
  }
}

for (var h = 0, tbody; tbody = tablebody[h]; h++) {
  for (var i = 0, row; row = tbody.rows[i]; i++) {
    for (var j = 0, col; col = row.cells[j]; j++) {
      col.setAttribute("data-th", headertext[h][j]);
    }
  }
}

</script>
