<tr>
  <td data-label="Status" class="mdl-data-table__cell--non-numeric"><a class="ui label high-priority-issue">High Priority Issue</a></td>
  <td><%= project.name %></td>
  <td><%= project.name %></td>
  <td><%= project.name %></td>
  <td>75%</td>
  <td><div class="consultant-avatars"><span data-title="<%= project.project_manager.email%>" data-content="Senior Consultant Operational Excellence" class="project-manager-popup-trigger"><img class="ui mini circular image" src="./img/lukas.png"></span></div></td>
  <td><%= link_to 'details', project_path(project) %></td>
</tr>
