<div class="mdl-tabs__panel" id="issues-panel">
  <div>
    Issues:
    <% @project.issues.each do |issue| %>
      <div>
        name: <%= issue.name%> <br>
        priority: <%= issue.label%> <br>
        description: <%= issue.description%> <br>
        resolved?: <%= issue.is_resolved%> <br>
        <%= link_to (mark_as_resolved_project_issue_path(@project.id, issue)), method: :put do %>
        <i class="fa fa-check-circle fa-2x mark-as-done-trigger task-status" aria-hidden="true"></i>
        <% end %>
        <div id="task-form">
          <%= simple_form_for([@project, issue]) do |f| %>
          <%= f.text_field :comment %>
          <%= f.button :submit, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
          <% end %>
        </div>
        <br>
        <br>
      </div>
    <% end %>
  </div>
  <div id="issues-form">
    <%= simple_form_for([@project, @issue]) do |f| %>
    <%= f.input :name %>
    <%= f.input :label, collection: ['High Priority Issue','Issue'] %>
    <%= f.input :description %>
    <%= f.button :submit, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
    <% end %>
  </div>
</div>
