<tr id="task-<%= task.id %>">
    <% if task.is_done %>
      <% tasktag = 'task-checked' %>
    <% else %>
      <% tasktag = 'task-unchecked' %>
    <% end %>
    <td class="mdl-data-table__cell--non-numeric">
      <%= link_to (mark_done_project_task_path(project.id,task.id)), remote: true, method: :put do %>
      <i class="fa fa-check-circle fa-2x <%= tasktag %> mark-as-done-trigger task-status" aria-hidden="true"></i>
      <% end %>
    </td>
    <td class="task-name"><div class="editable-task-name-task"><%= link_to edit_project_task_path(@project, task), remote:true  do %><%= task.name.nil? ? "Blank" : task.name %><% end %></div></td>
    <td class="task-start"><div class="editable-start-date-task"><%= link_to edit_project_task_path(@project, task), remote:true  do %>25.7.2016<% end %></div></td>
    <td class="task-end"><div class="editable-end-date-task"><%= link_to edit_project_task_path(@project, task), remote:true  do %>27.7.2016<% end %></div></td>
    <td class="task-consultant"><div class="editable-consultant-task"><%= link_to edit_project_task_path(@project, task), remote:true  do %><%= task.user.nil? ? "No user defined" : task.user.full_name %><% end %></div></td>
</tr>
