<tr id="task-<%= task.id %>">
    <% if task.is_done %>
      <% tasktag = 'task-checked' %>
    <% else %>
      <% tasktag = 'task-unchecked' %>
    <% end %>
    <td class="mdl-data-table__cell--non-numeric">
      <%= link_to (mark_done_project_task_path(project.id,task.id)), remote: true, method: :put do %>
      <i class="fa fa-check-circle fa-2x <%= tasktag %> mark-as-done-trigger task-status" aria-hidden="true"></i>
      <% end %>
    </td>
    <td class="task-name"><%= task.name.nil? ? "Blank" : task.name %></td>
    <td class="task-start">25.7.2016</td>
    <td class="task-end">27.7.2016</td>
    <td class="task-consultant"><%= task.user.nil? ? "No mail defined" : task.user.email %></td>
</tr>
