<div class="wrapper-main">
  <div class="box">
    <div class="project-info" style="padding: 20px;">

      <div class="basic-info">
        <h2>
          <%= @project.name %>
        </h2>
        <h3>
          <ul class="list-inline">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Days</li>
            <li><i class="fa fa-building" aria-hidden="true"></i> Microsoft Inc.</li>
            <li><i class="fa fa-tag" aria-hidden="true"></i> Corporate</li>
          </ul>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste eius, facere voluptatum sequi et repellat omnis eum excepturi? Recusandae placeat aspernatur unde dolorum consequatur, labore possimus quod cupiditate modi, doloremque.</p>
      </div>

      <div class="project-owners">
        <h3>Project Leader</h3>
        <div class="ui list">
          <div class="item">
            <img class="ui avatar image" src="img/lukas.png">
            <div class="content">
              <a class="header"><%= @project.project_manager.email %></a>
              <div class="description">Co-founder</div>
            </div>
          </div>
        </div>
      </div>

      <!-- end of test -->
      <div class="project-members">
        <h3>Consultants</h3>
        <div class="ui list">
          <% @consultants.each do |c| %>
          <div class="item">
            <img class="ui avatar image" src="img/lukas.png">
            <div class="content">
              <a class="header"><%= c.email %></a>
              <div class="description">Co-founder</div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="total-progress text-center" style="padding: 15px 5px 15px 5px;">
      <div id="p1" class="mdl-progress mdl-js-progress graph"></div>
      <script>
        document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
          this.MaterialProgress.setProgress(<%= @percentage %>);
        });
      </script>
    </div>
  </div>


  <div class="box short-info">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">



      <div class="mdl-tabs__tab-bar" style="margin-bottom: 20px;">
        <a href="#project-panel" class="mdl-tabs__tab is-active">Activity</a>
        <a href="#tasks-panel" class="mdl-tabs__tab">Tasks</a>
        <a href="#deliverables-panel" class="mdl-tabs__tab">Deliverables</a>
        <a href="#files-panel" class="mdl-tabs__tab">Project files</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="project-panel">
        <!-- begin activity code -->

        <div class="ui list">
          <div class="item">
            <img class="ui avatar image" src="img/lukas.png">
            <div class="content">
              <a class="header">Lukas Gutwinski</a>
              <div class="description">Has tagged the task <a><b>Marketing plan</b></a> as done just now.</div>
            </div>
          </div>
        </div>
      </div>
      <!-- end activity code -->



      <div class="mdl-tabs__panel" id="tasks-panel">
        <!-- tasks -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">

          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">

              <a class="mdl-navigation__link" href=""><i class="material-icons">list</i> Projects</a>
              <a class="mdl-navigation__link" href=""><i class="material-icons">check_box</i> Tasks</a>
              <a class="mdl-navigation__link" href=""><i class="material-icons">business</i> Clients</a>
              <a class="mdl-navigation__link" href=""><i class="material-icons">people</i> Consultants</a>
              <a class="mdl-navigation__link" href=""><i class="material-icons">timeline</i> Dashboard</a>

            </nav>
          </div>


          <main class="mdl-layout__content">
            <div class="page-content my-projects">
              <div class="tasks-table" id="task-list">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric"><span class="sort" data-sort="task-status">Done</span></th>
                      <th><span class="sort" data-sort="task-name">Task</span></th>
                      <th><span class="sort" data-sort="task-start">Start</span></th>
                      <th><span class="sort" data-sort="task-end">End</span></th>
                      <th><span class="sort" data-sort="task-consultant">Assigned to</span></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <div id='tasks'>
                      <% @tasks.each do |t| %>
                      <%= render partial: "task", locals: {task: t, project: @project } %>
                      <% end %>
                    </div>
                  </tbody>
                </table>
              </div>
              <!-- end tasks -->
              <!-- task form -->
              <div id="task-form">
                <%= simple_form_for([@project,@task], remote: true) do |task_f| %>
                <%= task_f.input :name %>
                <%= task_f.input :user_id, collection:@consultants, label_method: :email %>
                <%= task_f.button :submit, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'%>
                <% end %>
              </div>
            </div>
          </main>
        </div>
      </div>







      <div class="mdl-tabs__panel" id="deliverables-panel">
        <p>Deliverables here</p>
      </div>

      <div class="mdl-tabs__panel" id="files-panel">
        <!-- begin list -->

        <!-- end table -->

        <table class="ui celled striped table">

          <tbody>
            <tr>
              <td>
                <i class="file icon"></i> Project_request.docx
              </td>
              <td>Project request by client</td>
              <td class="right aligned collapsing">10 hours ago</td>
              <td><i class="fa fa-download" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>


      <!-- end of content -->
      <!-- begin scripts -->
      <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>

      <!-- end scripts -->
      <!-- Modal -->
      <script type="text/javascript">
        $( ".create-project" ).click(function() {
          $('.create-project-modal')
          .modal('show')
          ;
        });

        $('.project-leader-select')
        .dropdown({fullTextSearch: true})
        ;

      </script>

