<% content_for :title, "#{@project.name} | Project page" %>
<div class="wrapper-main">
  <div class="box">
    <div class="project-info" style="padding: 20px;">

      <div class="basic-info">
        <h2 class="editable-title"><%= @project.name %></h2>
        <div class="ui popup editable-text-popup">
          <form class="ui form inline-editing-form">
            <div class="inline fields">
              <div class="field">
                <input type="text">
              </div>
              <div>
                <button class="ui green button" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
        <h3>
          <ul class="list-inline">
            <li><span class="editable-number"><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="man-days-number"><%= @project.man_days %></span> Days</span></li>
            <div class="ui popup editable-number-popup">
              <form class="ui form inline-editing-form">
                <div class="inline fields">
                  <div class="field">
                    <input type="text">
                  </div>
                  <div>
                    <button class="ui green button" type="submit">Save</button>
                  </div>
                </form>
              </div>
            </div>
            <li><i class="fa fa-building" aria-hidden="true"></i>
              <% if @project.client %>
              <%= @project.client.name %>
              <% else %>
              -
              <% end %>
            </li>
          </ul>
        </h3>
        <p class="editable-description"><%= @project.description %></p>
        <div class="ui popup editable-description-popup">
          <form class="ui form inline-editing-form">
            <div class="field">
              <textarea rows="4"></textarea>
            </div>
            <div>
              <div class="field">
                <button class="ui green right floated button" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="project-owners">
        <h3>Project Leader</h3>
        <div class="ui list">
          <div class="item">
            <% if @project.project_manager %>
            <%= cl_image_tag @project.project_manager.avatar_id, attachinary_presets %>
            <div class="content">
              <a class="header"><%=link_to show_consultant_user_path(@project.project_manager), remote:true do %><%= @project.project_manager.full_name if @project.project_manager.full_name %><% end %></a>
              <div class="description"><%= @project.project_manager.job_title if @project.project_manager.job_title %></div>
            </div>
            <% else %>
            <div class="ui icon button editable-consultant add-project-lead"><i class="add icon"></i></div>
            <% end %>
            <div class="ui popup editable-consultant-popup">
              <form class="ui form inline-editing-form">
                <div class="inline fields">
                  <div class="field">
                    <%= render partial: 'shared/single_select_search_dropdown_no_form', locals: {field_name: :project_manager_id, collection_name: @users, attribute_name: :full_name, prompt_message: 'Select Consultant'} %>
                  </div>
                  <div>
                    <button class="ui green button" type="submit">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="project-members">
        <h3>Consultants</h3>
        <div class="ui list">
          <% @project.consultants.each do |c| %>
          <div class="item">
            <%= cl_image_tag c.avatar_id, attachinary_presets %>
            <div class="content">
              <a class="header"><%=link_to show_consultant_user_path(c), remote:true do %><%= c.full_name if c.full_name %></a><% end %>
              <div class="description"><%= c.job_title if c.job_title %></div>
            </div>
          </div>
          <% end %>
          <div class="ui icon button editable-consultant add-consultants"><i class="add icon"></i></div>
        </div>
      </div>
    </div>

    <div class="total-progress text-center" style="padding: 15px 20px 15px 20px;">
      <div id="p1" class="mdl-progress mdl-js-progress graph"></div>
      <script>
        document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
          this.MaterialProgress.setProgress(<%= @project.completion_percentage %>);
        });
      </script>
    </div>
  </div>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href=""><i class="material-icons">list</i> Projects</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">check_box</i> Tasks</a></a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">business</i> Clients</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">people</i> Consultants</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">timeline</i> Dashboard</a>
    </nav>
  </div>

  <!-- these are the famous tabs -->
  <div class="box short-info">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar" style="margin-bottom: 20px;">
        <a href="#activity-panel" class="mdl-tabs__tab is-active">Activity</a>
        <a href="#tasks-panel" class="mdl-tabs__tab">Tasks</a>
        <a href="#files-panel" class="mdl-tabs__tab">Project files</a>
        <a href="#issues-panel" class="mdl-tabs__tab">Issues</a>
      </div>
      <%= render "tab_activity" %>
      <%= render "tab_issues" %>
      <%= render "tab_tasks" %>
      <%= render "tab_project-files" %>
    </div>
  </div>
  <!-- end of the famous tabs -->
</div>

<div class="ui long modal show_consultant_modal">

</div>

<%= content_for(:after_js) do %>
<!-- Modal -->
<script type="text/javascript">
  $( ".create-project" ).click(function() {
    $('.create-project-modal')
    .modal('show')
    ;
  });
</script>
<script>
  $('.project-leader-select')
  .dropdown({fullTextSearch: true})
  ;
</script>

<script type="text/javascript">
  $('.editable').editable();
  $('.ui.dropdown').dropdown();
</script>
<script type="text/javascript">
  $('.editable-title')
  .popup({
    popup : $('.editable-text-popup'),
    on    : 'click'
  })
  $('.editable-title').click(function() {
    var text = $( this ).text();
    $('.editable-text-popup input').val(text).focus();
  });

  $('.editable-description')
  .popup({
    popup : $('.editable-description-popup'),
    on    : 'click'
  })

  $('.editable-consultant')
  .popup({
    popup : $('.editable-consultant-popup'),
    on    : 'click'
  })

  $('.editable-description').click(function() {
    var text = $( this ).text();
    $('.editable-description-popup textarea').val(text).focus();
  });

  $('.editable-number')
  .popup({
    popup : $('.editable-number-popup'),
    on    : 'click'
  })

  $('.editable-number').click(function() {
    var text = $( this ).text().match(/\d+/);
    $('.editable-number-popup input').val(text).focus();
  });

  $(".editable-consultant-task").click(function() {
    $(this).popup("show");
    var id = $(this).parent().parent().attr("id").match(/\d+/)

  });


  $( ".editable-text-popup .inline-editing-form" ).submit(function( event ) {
    event.preventDefault();
    var input_path = $(".editable-text-popup input")
    var form_data = { project: { name: input_path.val() } }
    $(".editable-title").popup("hide");
    $(".editable-title").hide().text(input_path.val()).fadeIn();
    handleSubmit(form_data);
  });

  $( ".editable-number-popup .inline-editing-form" ).submit(function( event ) {
    event.preventDefault();
    var input_path = $(".editable-number-popup input")
    var form_data = { project: { man_days: input_path.val() } }
    $(".editable-number").popup("hide");
    $(".man-days-number").hide().text(input_path.val()).fadeIn();
    handleSubmit(form_data);
  });

  $( ".editable-description-popup .inline-editing-form" ).submit(function( event ) {
    event.preventDefault();
    var input_path = $(".editable-description-popup textarea")
    var form_data = { project: { description: input_path.val() } }
    $(".editable-description").popup("hide");
    $(".editable-description").hide().text(input_path.val()).fadeIn();
    handleSubmit(form_data);
  });


  function handleSubmit (data) {
    $.ajax({
      type: "PATCH",
      url: "<%= url_for project_path(@project) %>",
      data: data
    })
  }
</script>


    <script type="text/javascript"> $('.ui.dropdown').dropdown(); </script>
    <script type="text/javascript">
      $('#task_start_date').daterangepicker({
                                singleDatePicker: true,
                                locale: {
                                  format: 'YYYY-MM-DD'
                                }
                            });
    </script>
<% end %>

