<div class="wrapper-main">
  <div class="box">
    <div class="project-info" style="padding: 20px;">

      <div class="basic-info">
        <h2><%= editable @project, :name %></h2>
        <h3>
          <ul class="list-inline">
            <li><i class="fa fa-clock-o" aria-hidden="true"></i> <%= editable @project, :man_days %> Days</li>
            <li><i class="fa fa-building" aria-hidden="true"></i>
              <% if @project.client %>
                <%= @project.client.name %>
              <% else %>
                -
              <% end %>
            </li>
            <li><i class="fa fa-tag" aria-hidden="true"></i> Corporate</li>
          </ul>
        </h3>
        <p><%= editable @project, :description, type: :textarea %></p>
      </div>

      <div class="project-owners">
        <h3>Project Leader</h3>
        <div class="ui list">
          <div class="item">
          <% if @project.project_manager %>
            <img class="ui avatar image" src="img/lukas.png">
            <div class="content">
              <a class="header"><%= @project.project_manager.full_name if @project.project_manager.full_name %></a>
              <div class="description"><%= @project.project_manager.job_title if @project.project_manager.job_title %></div>
            </div>
          <% end %>
          </div>
        </div>
      </div>

      <div class="project-members">
        <h3>Consultants</h3>
        <div class="ui list">
          <% @consultants.each do |c| %>
          <div class="item">
            <img class="ui avatar image" src="img/lukas.png">
            <div class="content">
              <a class="header"><%= c.full_name if c.full_name %></a>
              <div class="description"><%= c.job_title if c.job_title %></div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="total-progress text-center" style="padding: 15px 20px 15px 20px;">
      <div id="p1" class="mdl-progress mdl-js-progress graph"></div>
      <script>
        document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
          this.MaterialProgress.setProgress(<%= @project.completion_percentage %>);
        });
      </script>
    </div>
  </div>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href=""><i class="material-icons">list</i> Projects</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">check_box</i> Tasks</a></a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">business</i> Clients</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">people</i> Consultants</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">timeline</i> Dashboard</a>
    </nav>
  </div>

  <!-- these are the famous tabs -->
  <div class="box short-info">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar" style="margin-bottom: 20px;">
        <a href="#activity-panel" class="mdl-tabs__tab is-active">Activity</a>
        <a href="#timeline-panel" class="mdl-tabs__tab">Timeline</a>
        <a href="#tasks-panel" class="mdl-tabs__tab">Tasks</a>
        <a href="#deliverables-panel" class="mdl-tabs__tab">Deliverables</a>
        <a href="#files-panel" class="mdl-tabs__tab">Project files</a>
        <a href="#issues-panel" class="mdl-tabs__tab">Issues</a>
      </div>
      <%= render "tab_activity" %>
      <%= render "tab_timeline" %>
      <%= render "tab_issues" %>
      <%= render "tab_tasks" %>
      <%= render "tab_deliverables" %>
      <%= render "tab_project-files" %>
    </div>
  </div>
  <!-- end of the famous tabs -->
</div>

<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>

<!-- Modal -->
<script type="text/javascript">
  $( ".create-project" ).click(function() {
    $('.create-project-modal')
    .modal('show')
    ;
  });
</script>
<script>
  $('.project-leader-select')
    .dropdown({fullTextSearch: true})
    ;
</script>

  <%= content_for(:after_js) do %>
    <script type="text/javascript">$('.editable').editable()</script>
  <% end %>
