<div class="ui container timeline-page">
  <div class="timeline-header box">
    <div class="project-info" style="padding: 20px;">

      <div class="basic-info">
        <h2><%= @project.name %></h2>
        <h3>
          <ul class="list-inline">
            <li><i class="fa fa-building" aria-hidden="true"></i>
              <% if @project.client %>
              <%= @project.client.name %>
              <% else %>
              -
              <% end %>
            </li>
          </ul>
        </h3>
        <p><%= @project.description %></p>
      </div>

      <div class="project-owners">
        <h3>Project Leader</h3>
        <div class="ui list">
          <div class="item">
            <% if @project.project_manager %>
            <img class="ui avatar image" src="img/lukas.png">
            <div class="content">
              <a class="header"><%= @project.project_manager.full_name if @project.project_manager.full_name %></a>
              <div class="description"><%= @project.project_manager.job_title if @project.project_manager.job_title %></div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      </div>
       <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar" style="margin-bottom: 20px;">
        <a href="#timeline-panel" class="mdl-tabs__tab is-active" rel="timeline-panel">Timeline</a>
        <a href="#tasks-panel" class="mdl-tabs__tab" rel="tasks-panel">Tasks</a>
        <a href="#files-panel" class="mdl-tabs__tab" rel="files-panel">Files</a>
        <a href="#settings-panel" class="mdl-tabs__tab" rel="settings-panel">Settings</a>
      </div>
    </div>
  </div>

  <div class="mdl-tabs__panel is-active" id="timeline-panel">
    <div class="right-aligned new-timeline-button">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored create-timeline">
        New Update
      </button>
    </div>
    <div id="timeline">
      <% @timelines.each do |timeline| %>
      <div class="timeline-block">
        <div class="timeline-circle">

        </div>
        <div class="timeline-content box">
          <h3><%= timeline.title %></h3>
          <p>Create by <%= timeline.user.first_name %> <%= timeline.user.last_name %></p>
          <p><%= timeline.date.strftime("%a, %_d %b %Y") %></p>
          <p><%= truncate(timeline.description, length: 400) %></p>
          <p><%= link_to "Edit", edit_project_timeline_path(@project, timeline), remote: true %> | <%= link_to "Delete", project_timeline_path(@project, timeline), method: :delete %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="tasks-panel">
    <div class="timeline-tabs box">
    Blah
    </div>
  </div>

  <div class="mdl-tabs__panel" id="files-panel">
    <div class="timeline-tabs box">
      <table class="ui celled striped table">
        <tbody>
          <% @project.deliverables.each do |deliverable| %>
          <tr>
            <td>
              <i class="file icon"></i> <%= deliverable.public_id %>
            </td>
            <td class="right aligned collapsing"><%= deliverable.created_at %></td>
            <td>
              <%= link_to "http://res.cloudinary.com/banana-cake/image/upload/#{deliverable.path}" do %>
              <i class="fa fa-download" aria-hidden="true"></i>
              <% end %>
              <%= link_to project_deliverable_path(@project, deliverable.id), method: :delete do %>
              <i class="fa fa-close" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= simple_form_for(@project) do |project_f| %>
      <%= project_f.attachinary_file_field :deliverables, as: :attachinary, cloudinary: {use_filename: true, unique_filename: false } %>
      <%= project_f.button :submit %>
      <% end %>
  </div>
  </div>

  <div class="mdl-tabs__panel" id="settings-panel">
    <div class="right-aligned new-timeline-button">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored create-timeline">
        Invite Client
      </button>
    </div>
    <div class="timeline-tabs-settings box">
     <div class="ui icon message">
      <i class="add user icon"></i>
      <div class="content">
        <div class="header">
        Currently no client has access to this page.
        </div>
        <p>Collaborate, share files and let the client keep track the project! </p>
      </div>
    </div>
     <form class="ui create-new-timeline form" action="/projects/<%= params[:project_id] %>/timelines/invite_client" method="post">
      <div class="required field">
        <label>E-Mail</label>
        <input type="email" name="timeline[email]" placeholder="">
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="ui error message"></div>
      <div class="right-aligned">
        <button class="ui inverted button submit-button" type="submit">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>


<%= render 'form' %>
<div class="ui long modal edit-modal">
  <div class="header">Edit Consultant</div>
  <div class="content"></div>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  $(".mdl-tabs__tab").click(function() {

    $(".mdl-tabs__panel").hide();
    var activeTab = $(this).attr("rel");
    $("#"+activeTab).show();

    $(".mdl-tabs__panel").removeClass("active");
    $(this).addClass("active");
  });
</script>

<script type="text/javascript">
  $(document)
  .ready(function() {

    $('.project-manager-popup-trigger')
    .popup()
    ;
  });

  $( ".create-timeline" ).click(function() {
    $('.create-timeline-modal')
    .modal('show')
    ;
  });

</script>
<script type="text/javascript">
  $('#timeline_date').daterangepicker({
                                singleDatePicker: true,
                                locale: {
                                  format: 'YYYY-MM-DD'
                                }
                            });
</script>
<% end %>
