<div class="ui container">
  <h1>User Management</h1>
  <h2>Users</h2>
  <div id="user-management-table">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th>Admin</th>
          <th>Last Login</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= user.email %></td>
            <td>
              <% if user.is_owner %>
                Yes
              <% else %>
                No
              <% end %>
            </td>
            <td>
            <% if user.last_sign_in_at %>
              <%= time_ago_in_words(user.last_sign_in_at) %> ago
            <% else %>
              No attempt yet
            <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <% unless @is_client_users.empty? %>
    <h2>Clients</h2>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th>Accessable Projects</th>
            <th>Last Login</th>
          </tr>
        </thead>
        <tbody>
          <% @is_client_users.each do |user| %>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><%= user.email %></td>
              <td>Project A | Client B</td>
              <td>
              <% if user.last_sign_in_at %>
                <%= time_ago_in_words(user.last_sign_in_at) %> ago
              <% else %>
                No attempt yet
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= render "devise/invitations/create" %>


</div>

